<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiffany Tran - Who am I?</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1> Hello! Welcome. </h1>
  <h3>Tiffany Tran - CS Major </h3>

</div>


<div class="container" style="margin-top:30px">
    
 <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">THIS IS ME </h2>
        <p class="lead">Thanks for stopping by~ I am currently a 2nd year, going on 3rd year Computer Science Major. I am still fairly new to programming itself, but I am not foreigner to learning languages. I speak three different languages: English, Cantonese, and Japanese.
        Learning to program is just like learning to speak another language. You learn the structure and vocabulary, and then you practice it. I also enjoy doing art, listening and playing music, and talking to my friends during my freetime.
        Especially in a time like this, I am glad that technology has allowed us to stay connected to each other no matter how far apart we may be. Habing lots of hobbies has kept me busy, and it has been nice to revisit activities I liked doing when I was younger, such as card games and playing the piano.
        Despite all these activities, 2020 taught me that I needed to learn how to take a break, and that it is not good to overwork yourself not matter how much you seem to be struggling. Rest is good.  </p>
      </div>
      <div class="col-md-5">
        <img src="froggie.jpg" alt="Tiffany Tran" width="800" height="491">

      </div>
    </div>
 
   <hr class="featurette-divider">
    
<div class="row featurette">
      <div class="col-md-7">
          <ul>
          <li>I injured both my wrists towards the end of 2020 and am still recovering</li>  
            <li>I know the ASL alphabet and can sign the alphabet backwards</li>
          <li>I can whistle any tune</li>
            <li>Very certain that I can burn water</li>
            <li>The image of the frog I included was done using code</li>
          
          </ul>
        
      </div>
      <div class="col-md-5">
         <h2 class="featurette-heading"> SOME FUN FACTS :D </span></h2>
      </div>
    </div>
    
</body>
</html>